:root {
  --light-bg: #e8e4e1;
  --dark-bg: #1f2021;
  --menu-width: 400px;
  --menu-right-pos: -400px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background: var(--light-bg);
}

@media screen and (max-width: 768px) {
  .menu-transition {
    width: 100% !important;
  }

  .visible {
    width: 100% !important;
  }

  .menu-hide {
    right: -100% !important;
  }
}

.app-header {
  height: 60px;
  display: flex;
  background: white;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.icon {
  color: var(--dark-bg);
  height: 18px;
  width: 18px;
}

.close-icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.icon-container {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light:hover {
  background: var(--light-bg);
  cursor: pointer;
}

.dark:hover {
  background: #555;
  cursor: pointer;
}

.menu-footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-bottom: 32px;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
}

.primary {
  padding: 8px;
  padding-left: 16px;
  font-size: 24px;
  font-weight: 200;
}

.primary:hover {
  background: var(--light-bg);
  color: var(--dark-bg);
}

.secondary {
  font-size: 16px;
  font-weight: 300;
}

.secondary:hover {
  text-decoration: underline;
  color: whitesmoke;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.primary-list {
  margin-top: 40px;
  flex-grow: 1;
}

li:focus {
  border-color: var(--light-bg);
  outline: none !important;
  border: 1px solid var(--light-bg);
  box-shadow: 0 0 1px var(--light-bg);
}

a:focus {
  border-color: var(--light-bg);
  outline: none !important;
  border: 1px solid var(--light-bg);
  box-shadow: 0 0 1px var(--light-bg);
}

.title {
  flex-grow: 1;
  text-align: center;
}

.menu-transition {
  background: var(--dark-bg);
  height: 100%;
  width: var(--menu-width);
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  top: 0;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.menu-show {
  right: 0px;
}

.menu-hide {
  right: var(--menu-right-pos);
}

.menu-header-container {
  display: flex;
  align-items: center;
  height: 40px;
}

.menu-header {
  flex-grow: 1;
  color: white;
  padding-left: 16px;
}

.divider {
  margin-top: 4;
  border-top: 1px solid #fff;
}

.visible {
  visibility: visible;
  width: var(--menu-width);
}

.hidden {
  visibility: hidden;
  width: 0px;
}
